@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  appearance: none;
}

select {
  appearance: none;
}

#StickyCategories::-webkit-scrollbar {
  display: none;
}

.home__wrapper {
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

#StickyCategories ::-webkit-scrollbar {
  display: none;
}

.activeCategory {
  background: #ef4444 !important;
  color: white;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #82f238;
  border-radius: 50%;
  margin: 0 5px;
}

.headerRes {
  background-color: #ebc671;
}

.subcategory {
  background: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca);
}

.hamburgerBg {
  background: radial-gradient(
    circle at 10% 100%,
    rgb(238, 56, 56) 100%,
    rgba(206, 21, 0, 0.92) 100%
  );
}
